html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  color: $font-color;
  width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

h1{
  margin: 0;
}

h3{
  margin: $s-size 0 $s-size 0;
}

#app{
  overflow-x: hidden;
}

